*{
    padding: 0px;
    margin: 0px;
}

section{
    width:100%;
    min-height: 100px;
    background-color: #ccc;
}
#bg{
    width:300px;
}

#about{
    background-color: #aaa;
}
#content{
    background-color: #eee;
}
#footer{
    background-color: #171717;
    color:#fff;
}
#nav{
    background-color: #372f2b;
}